version: '3.8'
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: taskmanager
    ports:
      - "5432:5432"
  
  api:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db


